.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--mui-palette-secondary-main);
  border: 1px solid var(--mui-palette-debug-main);
  color: var(--mui-palette-tertiary-main);
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 100vw;
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid grey;
}

.menuItem {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.profileIcon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #6564DB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryButton {
  min-width: 150px;
  max-width: 150px;
}

.mainText {
  max-width: 350px;
}

.main {
  max-width: 100vw;
  min-width: 350px;
  overflow: hidden;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  min-width: 100vw;
  max-height: 100px;
  margin-top: auto;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
