.container {
  width: 100vw;
  max-width: 1200px;
  min-height: 100vh;
  background-color: var(--mui-palette-secondary-main);
  border: 1px solid var(--mui-palette-debug-main);
  color: var(--mui-palette-primary-main);
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 100%;
  padding: 16px 16px 8px 16px;
  display: flex;
}

.footer {
  width: 100vw;
  max-width: 1200px;
  max-height: 100px;
  margin-top: auto;
  display: flex;
  flex: 1;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 0px 16px;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.headerMenuLinks {
  align-items: center;
}

.profileIcon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  color: var(--mui-palette-primary-contrastText);
  background-color: var(--mui-palette-primary-main);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.profileIcon:hover {
  color: var(--mui-palette-primary-contrastText);
  background-color: var(--mui-palette-primary-dark);
}

.title {
  color: var(--mui-palette-highlight-main);
}

.subtitle {
  color: var(--mui-palette-primary-main);
  padding-top: 8px;
  padding-bottom: 16px;
}

.sectionTitle {
  color: var(--mui-palette-text-primary);
  padding-top: 16px;
  padding-bottom: 0px;
}

.description {
  color: var(--mui-palette-text-secondary);
  padding: 2px 0px 0px 0px;
  max-width: 600px;
}

.descriptionBullet {
  line-height: 150%;
}

.descriptionParagraph {
  text-indent: 32px;
  line-height: 150%;
}

.homePageButtons {
  margin-top: -52px;
  width: 100%;
  max-width: 600px;
}

.gameButtons {
  padding-top: 8px;
  padding-bottom: 8px;
}

.poppingButton {
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
  padding-top: 8px;
  padding-bottom: 8px;
}

.resizeableButton {
  width: 160px;
}

.botSelectorButton {
  width: 90px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.botSelectorContainer {
  padding-left: 8px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.gameStatusBox {
  max-width: 500px;
  text-align: center;
  background-color: var(--mui-palette-semiTransparent-main);
}

.statusMessage {
  color: var(--mui-palette-highlight-main);
  padding-top: 4px;
  padding-bottom: 16px;
}

.menuPaper {
  background: none;
}

.menuList {
  padding-top: 6px;
  padding-bottom: 6px;
}

.menuItem {
  padding: 0px 0px 0px 0px;
  min-height: 36px;
}

.primaryButton {
  min-width: 160px;
  max-width: 160px;
}

.chatContainer {
  width: 100%;
  max-width: 600px;
  height: 70vw;
  max-height: 600px;
  border-radius: 2px;
}

.chatBackground {
  background-image: url("/ai-retreat-main-image.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 6px #000 inset;
  -moz-box-shadow: 0 0 2px 6px #000 inset;
  box-shadow: 0 0 2px 6px #000 inset;
}

.filterBackgroundImage {
  width: 100%;
  height: 100%;
  background-color: rgba(130, 130, 130, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
}

.questionInputTextField {
  color: var(--mui-palette-alternate-main);
  padding-left: 106px;
}

.answerInputTextField {
  color: var(--mui-palette-alternate-main);
}

.userInput {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  max-width: 600px;
}

.userInputTextField {
  width: 100%;
}

.conversationContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding-bottom: 8px;
}

.receivedMessageText {
  color: var(--mui-palette-alternate-main);
}

.sentMessageText {
  color: var(--mui-palette-primary-contrastText);
}

.questionMessage {
  margin-top: 8px;
  width: fit-content;
  max-width: 70%;
  padding: 6px 8px 8px 8px;
  border-radius: 2px;
}

.answerMessage {
  margin-top: 2px;
  width: fit-content;
  max-width: 70%;
  padding: 8px;
  border-radius: 2px;
}

.receivedMessage {
  background-color: var(--mui-palette-primary-contrastText);
  margin-left: 8px;
  margin-right: auto;
}

.sentMessage {
  background-color: var(--mui-palette-alternate-main);
  margin-left: auto;
  margin-right: 8px;
}

.mainImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.main {
  padding: 16px 16px;
}

.dialog {
  background-color: var(--mui-palette-primary-contrastText);
  color: var(--mui-palette-primary-main);
  width: 400px;
}

.highlightText {
  color: var(--mui-palette-highlight-main);
}

.popup {
  max-width: 1200px;
}

.popupButtons {
  width: 100%;
  max-width: 600px;
  padding: 0px 0px 26px 0px;
}
