.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--mui-palette-secondary-main);
  border: 1px solid var(--mui-palette-debug-main);
  color: var(--mui-palette-primary-main);
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 100vw;
  padding: 0.5rem;
  display: flex;
  border-bottom: 1px solid grey;
}

.menuItem {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.profileIcon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #6564DB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primaryButton {
  min-width: 150px;
  max-width: 150px;
}

.mainText {
  max-width: 350px;
}

.gameBackground {
  min-width: 1400px;
  max-width: 1400px;
  height: 1000px;
  background-image: url("/primary-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.chatBox {
  width: 250px;
  height: 350px;
  border: 1px solid var(--mui-palette-primary-main);
  background-color: var(--mui-palette-chatBox-main);
  border-radius: 1rem;
  padding: 1rem;
}

.chatBox1 {
  position: sticky;
  transform: translate(50px, 300px);
}

.chatBox2 {
  position: sticky;
  transform: translate(400px, -300px);
}

.chatBox3 {
  position: sticky;
  transform: translate(750px, -650px);
}

.chatBox4 {
  position: sticky;
  transform: translate(1100px, -750px);
}

.main {
  max-width: 100vw;
  min-width: 350px;
  overflow: hidden;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.footer {
  min-width: 100vw;
  max-height: 100px;
  margin-top: auto;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
